    * {
        margin: 0;
        padding: 0;
        font-family: verdana, sans-serif;
    }
    /*********************** HEADER ************************/
    
    .header {
        background-color: #1f2937;
        padding: 10px 20px;
    }
    
    div .logo {
        font-size: 24px;
        color: #f9faf8;
    }
    
    nav {
        font-size: 18px;
        color: #e5e7eb;
    }
    
    ul {
        list-style: none;
        text-align: center;
    }
    
    p {
        font-size: 18px;
        color: #e5e7eb;
    }
    
    span {
        font-size: 48px;
        color: #f9faf8;
        font-weight: 900;
    }
    
    button {
        background-color: #3882f6;
        color: #e5e7eb;
        font-size: 18px;
        font-weight: bold;
        padding: 10px 20px;
        border: none;
        border-radius: 8px;
    }
    
    .header {
        display: flex;
        flex-direction: column;
    }
    
    .header-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /*background-color: green;*/
        padding: ;
        margin-top: 1rem;
        margin-bottom: 5rem;
        margin-left: 10rem;
        margin-right: 10rem;
    }
    
    .hero {
        font-size: 30px;
    }
    
    .menu-list li {
        display: inline-block;
        flex-direction: column;
        align-content: center;
        padding: 0 20px;
        /*background-color: red;*/
    }
    
    .main-hero {
        /*background-color: indigo;*/
        display: flex;
        justify-content: space-between;
        margin-left: 10rem;
        margin-right: 10rem;
        margin-bottom: 6rem;
    }
    
    .hero-text {
        padding-right: 50px;
        /*border: 1PX SOLID WHITE;*/
    }
    
    p {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    img {
        width: 500px;
        height: auto;
        border-radius: 8px;
    }
    
    .hero-text .main-text {
        padding: 20px 0 20px 0;
    }
    
    .hero-text p {
        padding: 20px 0 20px 0;
    }
    /*********************** SERVICES ************************/
    
    .services {
        display: flex;
        margin-top: 4rem;
        margin-bottom: 8rem;
        flex-direction: column;
        align-items: center;
    }
    
    .service-text {
        font-size: 30px;
        font-weight: extra-bold;
        color: #1f2937;
    }
    
    .services-box {
        display: flex;
        justify-content: center;
        align-items: ;
    }
    
    .service {
        border: 4px solid #3882f6;
        border-radius: 20px;
        margin: 25px;
        width: 180px;
        height: 180px;
    }
    
    .service-descr {
        display: flex;
    }
    
    .service-txt {
        width: 180px;
        height: auto;
        margin: 0 25px;
        align-items: center;
        justify-content: center;
    }
    /*********************** TESTIMONIAL ************************/
    
    .testimonial {
        background-color: #e5e7eb;
    }
    
    .testimonial-wrapper {
        margin-top: 5rem;
    }
    
    .testimonial-txt {
        /*border: solid 2px orange;*/
        margin-left: 14rem;
        margin-right: 14rem;
        padding-top: 10rem;
        padding-bottom: 10rem;
    }
    /*********************** CALL TO ACTION ************************/
    
    .action {
        background-color:
    }
    
    .action-wrapper {
        margin: 5rem 10rem;
    }
    
    .action-txt {
        /* border: solid 2px yellow;*/
        background-color: #3882f6;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        color: white;
    }
    
    .action-text {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .btn {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .action-btn {
        border: white 2px solid;
    }
    /*********************** FOOTER ************************/
    
    .footer {
        background-color: #1f2937;
    }