    * {}
    /*********************** HEADER ************************/
    
    .header {
        background-color: #1f2937;
    }
    
    div .logo {
        font-size: 24px;
        color: #f9faf8;
    }
    
    nav {
        font-size: 18px;
        color: #e5e7eb;
    }
    
    p {
        font-size: 18px;
        color: #e5e7eb;
    }
    
    p span {
        font-size: 48px;
        color: #f9faf8;
        font-weight: 900;
    }
    
    button {
        background-color: #3882f6;
        color: #e5e7eb;
        font-size: 18px;
        font-weight: bold;
        padding: 10px 20px;
        border: none;
        border-radius: 8px;
    }
    
    .header {
        display: flex;
        flex-direction: column;
    }
    
    .header-menu {
        display: flex;
        background-color: black;
    }
    
    .main-hero {
        display: flex;
    }
    /*********************** SERVICES ************************/
    
    .services {
        background-color:
    }
    /*********************** TESTIMONIAL ************************/
    
    .testimonial {
        background-color: #e5e7eb;
    }
    /*********************** CALL TO ACTION ************************/
    
    .action {
        background-color:
    }
    /*********************** FOOTER ************************/
    
    .footer {
        background-color: #1f2937;
    }