    * {
        margin: 0;
        padding: 0;
        font-family: verdana, sans-serif;
    }
    /*********************** HEADER ************************/
    
    .header {
        background-color: #1f2937;
        padding: 10px 20px;
    }
    
    div .logo {
        font-size: 24px;
        color: #f9faf8;
    }
    
    nav {
        font-size: 18px;
        color: #e5e7eb;
    }
    
    ul {
        list-style: none;
        text-align: center;
    }
    
    p {
        font-size: 18px;
        color: #e5e7eb;
    }
    
    span {
        font-size: 48px;
        color: #f9faf8;
        font-weight: 900;
    }
    
    button {
        background-color: #3882f6;
        color: #e5e7eb;
        font-size: 18px;
        font-weight: bold;
        padding: 10px 20px;
        border: none;
        border-radius: 8px;
    }
    
    .header {
        display: flex;
        flex-direction: column;
    }
    
    .header-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /*background-color: green;*/
        padding: ;
        margin-top: 1rem;
        margin-bottom: 5rem;
        margin-left: 10rem;
        margin-right: 5rem;
    }
    
    .hero {
        font-size: 30px;
    }
    
    .menu-list li {
        display: inline-block;
        flex-direction: column;
        align-content: center;
        padding: 0 20px;
        /*background-color: red;*/
    }
    
    .main-hero {
        /*background-color: indigo;*/
        display: flex;
        justify-content: space-between;
        margin-left: 10rem;
        margin-right: 5rem;
        margin-bottom: 10rem;
    }
    
    .hero-text {
        padding-right: 50px;
        /*border: 1PX SOLID WHITE;*/
    }
    
    p {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    img {
        width: 500px;
        height: auto;
        border-radius: 8px;
    }
    
    .hero-text .main-text {
        padding: 20px 0 20px 0;
    }
    
    .hero-text p {
        padding: 20px 0 20px 0;
    }
    /*********************** SERVICES ************************/
    
    .services {
        background-color:
    }
    /*********************** TESTIMONIAL ************************/
    
    .testimonial {
        background-color: #e5e7eb;
    }
    /*********************** CALL TO ACTION ************************/
    
    .action {
        background-color:
    }
    /*********************** FOOTER ************************/
    
    .footer {
        background-color: #1f2937;
    }