    * {
        margin: 0;
        padding: 0;
    }
    /*********************** HEADER ************************/
    
    .header {
        background-color: #1f2937;
        padding: 10px 20px;
    }
    
    div .logo {
        font-size: 24px;
        color: #f9faf8;
    }
    
    nav {
        font-size: 18px;
        color: #e5e7eb;
    }
    
    ul {
        list-style: none;
        text-align: center;
    }
    
    p {
        font-size: 18px;
        color: #e5e7eb;
    }
    
    span {
        font-size: 48px;
        color: #f9faf8;
        font-weight: 900;
    }
    
    button {
        background-color: #3882f6;
        color: #e5e7eb;
        font-size: 18px;
        font-weight: bold;
        padding: 10px 20px;
        border: none;
        border-radius: 8px;
    }
    
    .header {
        display: flex;
        flex-direction: column;
    }
    
    .header-menu {
        display: flex;
        margin-left: 10rem;
        margin-right: 10rem;
    }
    
    .header-menu .menu-list {
        display: flex;
        align-content: center;
        background-color: red;
    }
    
    .main-hero {
        display: flex;
        margin-left: 10rem;
        margin-right: 10rem;
    }
    
    img {
        width: 550px;
        height: auto;
        border-radius: 8px;
    }
    
    .hero-text .main-text {
        padding: 20px 0 20px 0;
    }
    
    .hero-text p {
        padding: 20px 0 20px 0;
    }
    /*********************** SERVICES ************************/
    
    .services {
        background-color:
    }
    /*********************** TESTIMONIAL ************************/
    
    .testimonial {
        background-color: #e5e7eb;
    }
    /*********************** CALL TO ACTION ************************/
    
    .action {
        background-color:
    }
    /*********************** FOOTER ************************/
    
    .footer {
        background-color: #1f2937;
    }